@import "tailwindcss";
@theme {
  --color-espresso: #291C0E;
  --color-cocoa: #6E473B;
  --color-camel: #A78D78;
  --color-sand: #BEB5A9;
  --color-cream: #E1D4C2;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Black Ops One", system-ui;
}

.nav-link {
  position: relative;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: var(--color-espresso);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


